<div class="header-top">
    <div class="container">
        <div class="inner-header">
            <div class="row">
                <div>
                    <img src="assets/img/emart.jpg" width="75" height="75">
                </div>
                <div class="nav-item">
                    <div class="container">
                        <div class="nav-depart">
                            <div class="depart-btn">
                                <i class="ti-menu"></i>
                                <span>All departments</span>
                                <ul class="depart-hover">
                                    <li class="active"><a href="#">Women’s Clothing</a></li>
                                    <li><a routerLink="/shop">Men’s Clothing</a></li>
                                    <li><a routerLink="/shop">Kid's Clothing</a></li>
                                    <li><a routerLink="/shop">Brand Fashion</a></li>
                                    <li><a routerLink="/shop">Accessories/Shoes</a></li>
                                    <li><a routerLink="/shop">Luxury Brands</a></li>
                                   
                                </ul>
                            </div>
                        </div>
                        <nav class="nav-menu mobile-menu">
                            <ul>
                                <li class="active"><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/shop">Shop</a></li>
                                

                                <li><a routerLink="/contact">Contact</a></li>
                                
                                <li><a routerLink="/login">Login</a></li>
                                <li><a routerLink="/register">Register</a></li>
                                
                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>